<div class="container">
  
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @container.name %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @container.address %>
  </p>

  <p>
    <strong>Localidad:</strong>
    <%= @container.location %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= @container.state %>
  </p>

  <p>
    <strong>Latitud:</strong>
    <%= @container.lat %>
  </p>

  <p>
    <strong>Longitud:</strong>
    <%= @container.long %>
  </p>
  <p><a href="https://google.com/maps/@<%= @container.lat %>,<%= @container.long %>,21z" target="_blank" class="btn btn-sm btn-outline-success">Ver en Google Maps</a></p>

  <p>
    <strong>Ultima Lectura Sensor:</strong>
    <%= @container.last_sensor || '*Not defined*' %>
    cm
  </p>
  <p><i><strong><%= @container.current_capacity_percentage %> % capacity</strong></i></p>

  <p>
    <strong>Max. sensor:</strong>
    <%= @container.high_sensor || '*Not defined*' %>
    cm
  </p>

  <p>
    <strong>Min. sensor:</strong>
    <%= @container.low_sensor || '*Not defined*' %>
    cm
  </p>

  <p>
    <strong>Max. capacidad:</strong>
    <%= @container.high_capacity %>
    liters
  </p>

  <p>
    <strong>Min. capacidad:</strong>
    <%= @container.low_capacity %>
    liters
  </p>

  <p>
    <strong>Token del Sensor</strong>
    <%= @container.sensor_token %>
  </p>

  <p>
    <strong>Ultimo contacto con el sensor:</strong>
    <%= @container.contact_sensor_at %>
  </p>

  <p><strong>Click para <%= link_to 'Ver Historial del Contenedor', container_container_histories_path(@container), class: 'btn btn-info' %></strong></p>

  <%= link_to 'Editar', edit_container_path(@container) %> |
  <%= link_to 'Regresar', containers_path %>
</div>
